.header-content{
    margin-top: 100px;
}
.headerimg{
    animation: alternate move infinite 3s;
}
@keyframes move {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}
.subtitle{
    font-size: 12px !important;
    color: #A79277;
  }
  